<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23C71</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Marker Data</string>
	<key>CFBundleExecutable</key>
	<string>Marker Data</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.TheAcharya.Marker-Data</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Marker Data</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.0</string>
	<key>DTSDKBuild</key>
	<string>23A334</string>
	<key>DTSDKName</key>
	<string>macosx14.0</string>
	<key>DTXcode</key>
	<string>1501</string>
	<key>DTXcodeBuild</key>
	<string>15A507</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>To Use Files On The Desktop, You Must Allow Access.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>To Use Files In The Documents Folder, You Must Allow Access.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>To Use Files In The Downloads Folder, You Must Allow Access.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2023 The Acharya. All rights reserved.</string>
	<key>NSUserSelectedFileURLsReadWrite</key>
	<string>Please allow access to so we can read the folder that contains the .fcpxml(d) file and folder, and also the output folder.</string>
	<key>com.apple.proapps.MediaAssetProtocol</key>
	<dict/>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/</string>
	</array>
</dict>
</plist>
