<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/TheAcharya/MarkerData/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>hMSvu16Xrk1OmwatgJmD/Mu+xJ1ElpPruWeOBwzrTDU=</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sam</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Asset Collection</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>mp4</string>
				<string>m4v</string>
				<string>aiff</string>
				<string>wav</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Asset Media File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fcpxml</string>
				<string>fcpxmld</string>
			</array>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Asset Description File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
	</array>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Asset Collection</string>
			</dict>
			<key>NSMessage</key>
			<string>doOpenAssetCollectionService</string>
			<key>NSPortName</key>
			<string>ShareDestinationKit</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Asset Manager</string>
			</dict>
			<key>NSMessage</key>
			<string>doOpenAssetManagerService</string>
			<key>NSPortName</key>
			<string>ShareDestinationKit</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.FinalCut</string>
			</dict>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>OSAScriptingDefinition.sdef</string>
	<key>ProExtensionAttributes</key>
	<dict>
		<key>ContentViewMinimumHeight</key>
		<integer>400</integer>
		<key>ContentViewMinimumWidth</key>
		<integer>600</integer>
	</dict>
	<key>com.apple.proapps.MediaAssetProtocol</key>
	<dict/>
</dict>
</plist>
